html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container_productlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.productListBox {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.productListTop {
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.productListTitle {
    font-size: 1.1rem;
    padding-left: 1rem;
}

.productListSearchArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 26%;
}

.productListSelect {
    cursor: pointer;
}

.productListSearchInput {
    width: 8rem;
}

.productListMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

thead th {
    background-color: rgb(240, 240, 240);
    font-weight: 550;
    border: 1px solid gray;
    padding: 0.5rem;
}

.tableHeadProductCodeProductList {
    width: 9%;
}
.tableHeadThumbnailProductList {
    width: 6%;
}
.tableHeadProductNameProductList {
    width: 30%;
}
.tableHeadSeasonalProductList {
    width: 5%;
}
.tableHeadOriginProductList {
    width: 7%;
}
.tableHeadPriceProductList {
    width: 8%;
}
.tableHeadStockProductList {
    width: 8%;
}
.tableHeadInputDateProductList {
    width: 12%;
}
.tableHeadDelProductList {
    width: 15%;
}

tbody td {
    font-size: 15px;
    padding: 0.5rem;
    padding-left: 0.6rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid gray;
}

.productListDetailDel {
    display: flex;
    justify-content: space-evenly;
}


/* 페이징 */

.productListBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.productListBottomInsert {
    position: relative;
    right: 40%;
}

.productListBottomPagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5%;
}

.productListLeftDoubleArrowBox {
    width: 1rem;
    height: 1rem;
}
.productListLeftDoubleArrow {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
    cursor: pointer;
}

.productListLeftArrowBox {
    width: 1rem;
    height: 1rem;
}
.productListLeftArrow {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
    cursor: pointer;

}

.productListRightArrowBox {
    width: 1rem;
    height: 1rem;
}
.productListRightArrow {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
    cursor: pointer;

}

.productListRightDoubleArrowBox {
    width: 1rem;
    height: 1rem;
}
.productListRightDoubleArrow {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
    cursor: pointer;

}

.paginationBtn {
    background-color: white;
    border-radius: 90%;
    border: none;
    cursor: pointer;
}


/* 멤버 리스트 디테일 */

.productListDetailThumbnailTd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    padding-left: 0px;
}

.productListDetailThumbnail {
    width: 3.5rem;
    height: 3.5rem;
}
.productListDetailThumbnailImg {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.productListDetailSeasonalTd {
    text-align: center;
}

.productListDetailoriginTd {
    text-align: center;
}

.productListDetailPriceTd {
    text-align: end;
}

.productListDetailStockTd {
    text-align: end;
}

.productListDetailInputDateTd {
    text-align: center;
}